.main__wrap {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 40px;
}

.messages {
  overflow-y: auto;
}

.message:nth-child(even) {
  background-color: #666666;
}

.message {
  padding: 4px;
  display: grid;
  grid-template-columns: 100px auto;
}

.message__username {
  font-weight: bold;
}

.message__text {
  overflow-wrap: break-word;
}

.message__date {
  font-size: 12px;
}

.chat__form {
  display: grid;
  grid-template-columns: 40px auto;
}

.chat_control {
  padding: 10px;
}

.chat__input {
  height: 100%;
  display: flex;
}

.chat__text {
  width: 100%;
  height: 100%;
  padding: 4px 8px;
  border: none;
  outline: none;
  display: block;
}

.chat__submit {
  padding: 4px;
  border: none;
  cursor: pointer;
  display: block;
}